<%= link_to gravatar_for(current_user, size: Settings.avatar.size), current_user %>
<h1> <%= current_user.name %> </h1>
<span> <%= link_to t("users.new.view_profile"), current_user %> </span>
<span>
  <%= t "microposts.micropost.show_micropost", count: current_user.microposts.size %>
</span>
